ClinicSoapWebServiceClient/src/main/resources/ProviderWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cs548.stevens.edu/clinic/service/web/soap/provider" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" name="ProviderWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/service/web/soap/provider" schemaLocation="http://ec2-52-11-196-33.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService/ProviderWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://cs548.stevens.edu/clinic/dto" schemaLocation="http://ec2-52-11-196-33.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService/ProviderWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="addProvider">
<part name="parameters" element="tns:addProvider"/>
</message>
<message name="addProviderResponse">
<part name="parameters" element="tns:addProviderResponse"/>
</message>
<message name="ProviderServiceExn">
<part name="fault" element="tns:ProviderServiceExn"/>
</message>
<message name="getProviderByNpi">
<part name="parameters" element="tns:getProviderByNpi"/>
</message>
<message name="getProviderByNpiResponse">
<part name="parameters" element="tns:getProviderByNpiResponse"/>
</message>
<message name="providerAddTreatment">
<part name="parameters" element="tns:providerAddTreatment"/>
</message>
<message name="providerAddTreatmentResponse">
<part name="parameters" element="tns:providerAddTreatmentResponse"/>
</message>
<message name="PatientServiceExn">
<part name="fault" element="tns:PatientServiceExn"/>
</message>
<message name="siteInfo">
<part name="parameters" element="tns:siteInfo"/>
</message>
<message name="siteInfoResponse">
<part name="parameters" element="tns:siteInfoResponse"/>
</message>
<message name="getProvider">
<part name="parameters" element="tns:getProvider"/>
</message>
<message name="getProviderResponse">
<part name="parameters" element="tns:getProviderResponse"/>
</message>
<portType name="IProviderWebPort">
<operation name="addProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderRequest" message="tns:addProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProviderResponse" message="tns:addProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/addProvider/Fault/ProviderServiceExn"/>
</operation>
<operation name="getProviderByNpi">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNpiRequest" message="tns:getProviderByNpi"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNpiResponse" message="tns:getProviderByNpiResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderByNpi/Fault/ProviderServiceExn"/>
</operation>
<operation name="providerAddTreatment">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/providerAddTreatmentRequest" message="tns:providerAddTreatment"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/providerAddTreatmentResponse" message="tns:providerAddTreatmentResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/providerAddTreatment/Fault/ProviderServiceExn"/>
<fault message="tns:PatientServiceExn" name="PatientServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/providerAddTreatment/Fault/PatientServiceExn"/>
</operation>
<operation name="siteInfo">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoRequest" message="tns:siteInfo"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/siteInfoResponse" message="tns:siteInfoResponse"/>
</operation>
<operation name="getProvider">
<input wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderRequest" message="tns:getProvider"/>
<output wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProviderResponse" message="tns:getProviderResponse"/>
<fault message="tns:ProviderServiceExn" name="ProviderServiceExn" wsam:Action="http://cs548.stevens.edu/clinic/service/web/soap/provider/IProviderWebPort/getProvider/Fault/ProviderServiceExn"/>
</operation>
</portType>
<binding name="ProviderWebPortBinding" type="tns:IProviderWebPort">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="getProviderByNpi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
<operation name="providerAddTreatment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
<fault name="PatientServiceExn">
<soap:fault name="PatientServiceExn" use="literal"/>
</fault>
</operation>
<operation name="siteInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ProviderServiceExn">
<soap:fault name="ProviderServiceExn" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProviderWebService">
<port name="ProviderWebPort" binding="tns:ProviderWebPortBinding">
<soap:address location="http://ec2-52-11-196-33.us-west-2.compute.amazonaws.com:8080/ClinicSoapWebService/ProviderWebService"/>
</port>
</service>
</definitions>